#form {
  text-align: center;
  height: fit-content;

  & h1 {
    margin-block: 16px;
    font-size: 4rem;
  }

  & label {
    display: block;
    margin-bottom: 8px;
  }
}

.row {
  display: flex;
  border: none;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 0 8px 16px;

  transition: border-color 0.25s;

  &:has(input:focus) {
    border-color: #000;
  }
}

#locationInput,
#searchBtn {
  border: none;
  background: none;
}

#locationInput {
  flex: 1;
  font-size: 0.9rem;
  outline: none;
  color: #000;
  font-weight: bold;

  &::placeholder {
    color: #00000050;
  }
}

#searchBtn {
  padding-right: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    & .icon path {
      fill: #0093e9;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;

  & path {
    transition: fill 0.25s;
  }
}
